    <div id="rhyme-pronunciation-block" class="center-block" aria-live="polite">
        <fieldset id="rhyme-pronunciation-picker" class="rhyme-pronunciation-picker" hidden>
            <legend class="info-text">Знойдзена некалькі варыянтаў. Які Вы мелі на ўвазе?</legend>
            <div id="rhyme-pronunciation-options" class="rhyme-pronunciation-options">
            </div>
            <button id="manual-pronunciation-button" type="button" class="modest-button rhyme-word">
                Паставіць націск уручную
            </button>
        </fieldset>

        <div id="selected-pronunciation-control" class="selected-pronunciation-control" hidden>
            <span class="info-text">
                Рыфмы для: <span id="selected-pronunciation-text" class="rhyme-word"></span>
            </span>
            <button id="change-pronunciation-button" type="button" class="modest-button rhyme-word">
                Змяніць
            </button>
        </div>
    </div>
